# Google OAuth
CLIENT_ID=your-google-client-id
PROJECT_ID=your-google-project-id
CLIENT_SECRET=your-google-client-secret
REDIRECT_URI=http://localhost

# Project Paths
DOWNLOADS_PATH=./downloads
CSV_REPORTS_PATH=./csv_reports
LOGS_PATH=./logs/processed_files.log
GMAIL_CREDENTIALS_PATH=./scripts/credentials/gmail/credentials.json
DRIVE_CREDENTIALS_PATH=./scripts/credentials/drive/credentials.json

# Gmail Configuration
SENDER_EMAIL=your-email@gmail.com
RECIPIENTS=recipient-email@example.com

# Credentials for Login POE IA
IA_EMAIL=your-ia-email@gmail.com
IA_PASSWORD=your-ia-password

# Google Drive Configuration 
GOOGLE_DRIVE_FOLDER_ID=your-google-drive-folder-id 
